.beautifyScrollbar{
  scrollbar-width: auto;
}
.beautifyScrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}
.beautifyScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(189, 189, 189, 0.46);
}

.beautifyScrollbar::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 2px 2px rgba(102, 102, 102, 0.2);
  background: rgba(102, 102, 102, 0.4);
}

.fit{
  height: 100%;
  width: 100%;
}